@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>


<p>This web platform was designed to help loan contractors to have an idea about what they would pay monthly.
    We simulate loan contracts and allow you to know how much you would pay for real.</p>
